<div *ngIf="this.tempChart">
  <canvas baseChart width="600" height="450"
          [datasets]="this.tempChart.lineChartData"
          [labels]="this.tempChart.lineChartLabels"
          [options]="this.tempChart.lineChartOptions"
          [colors]="this.tempChart.lineChartColors"
          [legend]="this.tempChart.lineChartLegend"
          [chartType]="this.tempChart.lineChartType"
          (chartHover)="this.tempChart.chartHovered($event)"
          (chartClick)="this.tempChart.chartClicked($event)">
  </canvas>
</div>
