<div *ngIf="this.humidityChart">
  <canvas baseChart width="600" height="450"
          [datasets]="this.humidityChart.lineChartData"
          [labels]="this.humidityChart.lineChartLabels"
          [options]="this.humidityChart.lineChartOptions"
          [colors]="this.humidityChart.lineChartColors"
          [legend]="this.humidityChart.lineChartLegend"
          [chartType]="this.humidityChart.lineChartType"
          (chartHover)="this.humidityChart.chartHovered($event)"
          (chartClick)="this.humidityChart.chartClicked($event)">
  </canvas>
</div>
